{
  "extends": "@hannoeru",
  "overrides": [
    {
      "files": [
        "**/*.resolver.ts"
      ],
      "rules": {
        "@typescript-eslint/consistent-type-imports": "off"
      }
    }
  ]
}
